/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q       &kp W       &kp E       &kp R       &kp T               &kp Y   &kp U       &kp I       &kp O       &kp P
    &mt LGUI A  &mt LALT S  &mt LCTRL D &mt LSHFT F &kp G               &kp H   &mt LSHFT J &mt LCTRL K &mt LALT L  &mt LGUI SEMI
    &kp Z       &kp X       &kp C       &kp V       &kp B               &kp N   &kp M       &kp COMMA   &kp DOT     &kp FSLH
                &lt 3 DEL   &lt 1 SPACE &kp TAB     &kp C_MUTE          &none  &kp ESC     &kp BSPC    &lt 2 RET
            >;
        };

        navnum_layer {
            bindings = <
    &trans      &kp PG_UP   &kp UP      &kp PG_DN   &trans                       &kp FSLH    &kp N7  &kp N8      &kp N9      &kp MINUS
    &kp HOME    &kp LEFT    &kp DOWN    &kp RIGHT   &kp END                      &kp EQUAL   &kp N4  &kp N5      &kp N6      &kp PLUS
    &trans      &trans      &kp INS     &trans      &trans                       &kp N0      &kp N1  &kp N2      &kp N3      &kp ASTERISK
                &lt 3 DEL   &lt 1 SPACE &kp TAB     &bootloader                  &none       &kp ESC &kp BSPC    &lt 2 RET
            >;
        };

        symbol_layer {
            bindings = <
    &kp PRCNT       &kp AT      &kp LBKT    &kp RBKT    &kp NON_US_BSLH         &trans          &trans          &kp CARET           &trans      &trans
    &kp HASH        &kp EXCL    &kp LPAR    &kp RPAR    &kp PIPE                &kp UNDER       &kp APOS        &kp DOUBLE_QUOTES   &kp TILDE   &kp GRAVE
    &kp DLLR        &trans      &kp LBRC    &kp RBRC    &kp AMPS                &trans          &trans          &trans              &trans      &trans
                    &lt 3 DEL   &lt 1 SPACE &kp TAB     &none                   &bootloader     &kp ESC         &kp BSPC            &lt 2 RET
            >;
        };

        function_layer {
            bindings = <
    &trans          &trans          &bt BT_CLR      &trans          &sys_reset          &sys_reset  &kp F7  &kp F8      &kp F9      &kp F11
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4        &trans      &kp F4  &kp F5      &kp F6      &kp F12
    &trans          &trans          &trans          &trans          &trans              &kp F10     &kp F1  &kp F2      &kp F3      &kp F13
                    &lt 3 DEL       &lt 1 SPACE     &kp TAB         &none               &none       &kp ESC &kp BSPC    &lt 2 RET
            >;
        };
    };
};
